.cvContainer {
	font-size: var(--fs-300);
	font-weight: var(--fw-400);
	margin: 1rem;
	line-height: 1.5;
}

.cvHeader {
	font-size: var(--fs-400);
	font-weight: var(--fw-600);
}
.cvTitle {
	font-weight: var(--fw-700);
	text-transform: uppercase;
	margin-block: 1rem;
}
.cvContact {
	margin-bottom: 3rem;
	gap: 1rem;
}
.cvContact a {
	letter-spacing: 1px;
	font-weight: var(--fw-400) !important;
	display: inline-block;
}
.cvContact a:hover .link {
	text-decoration: underline;
	font-weight: var(--fw-700);
}
.contentTitle {
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 2rem;
}

.cvContents {
	.cvContent {
		margin-block: 4rem;

		.contentItems {
			.contentItem {
				margin-block: 1rem;

				.itemPlace {
					font-size: var(--fs-400);
					font-weight: var(--fw-500);
					margin-bottom: 0.5rem;
				}

				.contentItemList {
					margin-block: 0.5rem;
				}

				.contentItemProjectTitle {
					margin-block: 0.25rem;
				}

				.contentItemProjectCategory {
					font-weight: var(--fw-500);
				}

				.contentItemSkill {
					margin-inline: 0.25rem;

					&:not(:last-child)::after {
						content: ",";
					}
				}

				.contentItemProjectSkill {
					font-weight: var(--fw-300);
					font-size: var(--fs-200);
					margin-left: 0;
				}
			}
		}
	}
}

.cvContents li {
	list-style: disc;
}

@media (min-width: 45rem) {
	.cvContainer {
		width: 60vw;
		margin: auto;
		margin-top: 5rem;
	}
}
@media (min-width: 70rem) {
	.cvContainer {
		width: 35vw;
	}
}
