@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
	--max-width: 1900px;
	--max-width-container: 1100px;
	--border-radius: 12px;
	--image-border-radius: 24px;
	/* --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
		'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
		'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace; */

	--primary-color: #eee;
	--primary-dark-color: #333;
	--primary-dark-color-border: #33333350;
	--accent-color: #6c5ce7;

	--fs-200: 0.875rem;
	--fs-300: 1rem;
	--fs-400: 1.25rem;
	--fs-500: 1.5rem;
	--fs-600: 1.75rem;
	--fs-700: 2rem;
	--fs-800: 3rem;
	--fs-900: 4rem;

	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	max-width: var(--max-width);
	margin: auto;
}
@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}

	body {
		background-color: var(--primary-dark-color);
		color: var(--primary-color);
	}
}

body {
	background-color: var(--primary-color);
	color: var(--primary-dark-color);
	font-size: var(--fs-300);
	font-weight: var(--fw-300);
	font-family: 'Raleway', sans-serif;
	padding: 2rem;
	letter-spacing: 0.08em;
}

::selection {
	color: var(--primary-color);
	background: var(--primary-dark-color);
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: var(--fw-700);
	letter-spacing: normal;
}

.text-link:hover {
	text-decoration: underline;
}
.text-link.italic:hover {
	font-style: italic;
}
.homeItem .text-link:hover {
	font-style: normal !important;
	font-weight: var(--fw-400) !important;
}

.underlined {
	text-decoration: underline;
}

.slide-link {
	box-shadow: inset 0 0 0 0 var(--primary-dark-color);
	margin: 0 -0.25rem;
	padding: 0 0.25rem;
	transition: color 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
}
.slide-link:hover {
	box-shadow: inset 420px 0 0 0 var(--primary-dark-color);
	color: var(--primary-color);
}

li {
	list-style: none;
}

button {
	border: none;
	outline: none;
}

.flex-row {
	display: flex;
	flex-direction: row;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.flex-center-ver {
	display: flex;
	align-items: center;
}
.flex-center-hor {
	display: flex;
	justify-content: center;
}
.flex-center-full {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fw-300 {
	font-weight: var(--fw-300) !important;
}

.fw-400 {
	font-weight: var(--fw-400) !important;
}

.fw-500 {
	font-weight: var(--fw-500) !important;
}

.fw-600 {
	font-weight: var(--fw-600) !important;
}

.fw-700 {
	font-weight: var(--fw-700) !important;
}

.mt-1r {
	margin-top: 1rem !important;
}

.mt-2r {
	margin-top: 2rem !important;
}

.mt-3r {
	margin-top: 3rem !important;
}

.mt-4r {
	margin-top: 4rem !important;
}

.page {
	margin-bottom: 2rem;
	padding: 2rem;
}

@media (max-width: 35rem) {
	.page {
		padding-inline: 0;
	}
}
/* @media (max-width: 60rem) {
	.page {
		padding: 2rem;
	}
} */

.pageHeader {
	margin-bottom: 1.5rem;
}

.container {
	width: 100%;
}
@media (min-width: 60rem) {
	.container {
		max-width: var(--max-width-container);
	}
}

/* @media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
} */

.slide-in {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-dark-color);
	transform-origin: bottom;
	z-index: 99999;
}

.slide-out {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: var(--primary-dark-color);
	transform-origin: top;
	z-index: 99999;
}
