.homepage {
	/* max-height: 100vh; */
}

.homeTextcontent {
	/* letter-spacing: normal; */
	padding-top: 8%;
	line-height: 1.5;
	height: 100vh;

	.homeTitle {
		font-size: 8dvw;
		font-weight: var(--fw-600);
		text-transform: uppercase;
	}

	.homeDescription {
		max-width: 42ch;
		font-size: var(--fs-300);

		.homeDescriptionWorkplace {
			text-decoration: underline;
		}
	}
}

.homeAbout {
	min-height: 100vh;
	padding: 4%;

	.homeAboutContent {
	}

	.homeAboutPic img {
		width: auto;
		height: 69vh;
	}
}

.homeExtraTitle {
	font-size: 6dvw;
	font-weight: var(--fw-700);
	text-transform: uppercase;
}
.homeExtraTitle::after {
	content: "/";
	margin-left: 1rem;
}

.homeExtraDescription {
	font-size: var(--fs-600);
	font-weight: var(--fw-300);
	line-height: 1.5;
}

@media (min-width: 35rem) {
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.homeTextcontent {
		.homeDescription {
			max-width: 100%;
			font-size: var(--fs-600);
		}
	}

	.homeAboutContent {
		display: grid;
		gap: 2rem;
		grid-template-columns: 3fr 2fr;
		justify-content: space-between;
		align-items: center;
	}
}
