.homeTextcontent {
	/* letter-spacing: normal; */
	padding-top: 8%;
	line-height: 1.5;
	height: 100vh;

	.homeTitle {
		text-transform: uppercase;
	}

	.homeDescription {
		font-weight: var(--fw-300);

		.homeDescriptionWorkplace {
			text-decoration: underline;
			font-weight: var(--fw-500);
		}
	}
}

.homeContent {
	min-height: 100vh;
	border-top: 1px solid var(--light-border-color);
	margin-bottom: 5rem;
}

.homeWorkSkillsContent {
	ul {
		margin-top: 4rem;
		/* color: var(--primary-dark-color-lighter); */

		li {
			border-bottom: 1px solid var(--light-border-color);
			padding-block: 1.25rem;

			.workSkillsContentTitle {
				font-size: var(--fs-500);
				font-weight: var(--fw-500);
			}

			.workSkillsContentDescription {
				font-size: var(--fs-300);
				font-weight: var(--fw-300);
				margin-top: 0.5rem;
				color: var(--primary-dark-color-lighter);
			}
		}
	}
}

.homeInterestsContent {
	ul {
		font-size: var(--fs-400);
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr;

		li {
			/* border: 1px solid; */
			box-shadow: 0 0px 4px rgba(0, 0, 0, 0.18);
			border-radius: 12px;
			padding-inline: 1rem;
			padding-block: 3rem;
			text-align: center;

			img {
				width: 69px;
				height: 69px;
				opacity: 0.69;
				margin-bottom: 1rem;
			}

			.workInterestsContentTitle {
				font-size: var(--fs-500);
				margin-bottom: 0.5rem;
			}

			.workInterestsContentDescription {
				font-size: var(--fs-300);
				color: var(--primary-dark-color-lighter);
			}
		}

		li:hover {
			box-shadow: 0 0px 16px rgba(0, 0, 0, 0.18);
			transition: transform 0.5s;
		}
	}
}

.homeAbout {
	.homeAboutPic img {
		max-width: 80dvw;
		height: auto;
	}
}

.homeExtraTitle {
	margin-bottom: 4rem;
	font-size: 2.5rem;
	font-weight: var(--fw-700);
	text-transform: uppercase;
}
.homeExtraTitle::after {
	content: "/";
	margin-left: 1rem;
}

.homeExtraDescription {
	font-weight: var(--fw-300);
	line-height: 1.5;
}

.homeAboutDescriptions {
	margin-bottom: 2rem;
}

.homeExtraContent ul {
	margin-left: 0;
}

@media (min-width: 35rem) {
	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.homeTitle {
		font-size: var(--fs-800);
	}

	.homeDescription {
		max-width: 100%;
		font-size: var(--fs-500);
	}

	.homeExtraTitle {
		font-size: 3.5rem;
	}

	.homeExtraDescription {
		font-size: var(--fs-500);
		font-weight: var(--fw-300);
		line-height: 1.5;
	}

	.homeWorkSkillsContent {
		ul {
			font-size: var(--fs-600);
		}
	}

	.homeInterestsContent {
		ul {
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media (min-width: 65rem) {
	.homeContent {
		padding: 4%;
	}

	.homeAboutContent {
		display: grid;
		grid-gap: 2rem;
		grid-template-columns: 3fr 2fr !important;
		justify-content: space-between;
		align-items: center;
		bottom: 10rem !important;
	}

	.homeAboutPic img {
		width: auto;
		max-height: 69vh;
	}

	.homeTitle {
		font-size: min(200px, 4vw);
		font-weight: var(--fw-600);
	}

	.homeDescription {
		font-size: var(--fs-600);
	}

	.homeExtraTitle {
		font-size: 5rem;
	}

	.homeWorkSkillsContent {
		ul {
			font-size: var(--fs-600);

			li {
				.workSkillsContentTitle {
					font-size: var(--fs-600);
				}

				.workSkillsContentDescription {
					font-size: var(--fs-400);
				}
			}
		}
	}

	.homeInterestsContent {
		ul {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 4rem;
		}
	}
}
