.resumeContainer {
	width: 100%;

	.resumeItems {
		margin-top: 5rem;
		display: grid;
		gap: 2rem;
		user-select: none;

		.resumeItem {
			border: 1px solid var(--primary-dark-color-border);
			border-radius: var(--border-radius);
			padding-block: 5rem;
		}
		.resumeItem {
			font-size: var(--fs-500);
			font-weight: var(--fw-300);
			text-align: center;
		}
		.resumeItem:hover {
			font-weight: var(--fw-500);
			box-shadow: 0 4px 13px rgba(0, 0, 0, 0.33);
			transition: transform 0.69s;
		}
	}
}

@media (min-width: 35rem) {
	.resumeItems {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 60rem) {
	.resumeContainer {
		max-width: var(--max-width-container);

		.resumeItems {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
