.App {
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background-color: #fffbef;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ListContainer {
	width: 40vh;
	min-height: 65vh;
	background-color: white;
	color: rgb(121, 124, 143);
	padding: 2rem;
	font-family: "Open Sans", sans-serif;
	filter: drop-shadow(0 0 13px #bebebe);
}
.list-date {
	text-transform: uppercase;
	margin-bottom: 6rem;
}
.list-dateonly {
	float: left;
	display: flex;
}
.list-date-value {
	font-size: 2.3rem;
	font-weight: bold;
	margin-top: -5px;
}
.list-nondateonly {
	font-size: 0.85rem;
}
.list-date-month {
	font-weight: bold;
}
.list-day {
	font-size: 0.9rem;
	float: right;
	text-transform: uppercase;
	font-weight: 800;
}

.list-item-container {
	height: 75%;
	padding-right: 0;
	overflow-x: hidden;
	/* overflow-y: auto; */
}
.list-items {
	transition: all 1s ease;
}
.list-item {
	text-align: left;
	margin-bottom: 1rem;
	font-weight: 500;
	/* display: flex; */
	/* overflow: hidden; */

	transition: all 0.5s ease;
}
.list-item-name {
	/* width: 100%; */
	/* float: left; */
	cursor: pointer;
}
.list-item-status {
	/* Background color */

	/* Rounded border */
	border-radius: 50%;

	/* Size */
	height: 20px;
	width: 20px;

	float: right;
	/* margin-right: 20px; */
	/* margin-top: 3px; */

	transition: all 1s ease;
}
.list-item-undone {
	border: 1.5px solid rgb(180, 180, 180);
}
.list-item-done {
	border: 1.5px solid rgb(88, 247, 127);
	background-color: rgb(88, 247, 127);
}
.list-name-done {
	/* color: rgb(200, 203, 221); */
	color: rgba(121, 124, 143, 0.5);
}

.listbtn {
	/* Position */
	/* left: 40%;
	position: absolute;
	top: 93.5%; */
	z-index: 9999;

	/* Take full size */
	height: 70px;
	width: 70px;
	border-radius: 9999px;

	/* Center the content */
	align-items: center;
	display: flex;
	justify-content: center;

	margin-block: 1rem;

	/* Add a dark background */
	color: white;

	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

	transition: all 0.25s ease;
}
.listbtn:hover {
	transform: scale(1.15);
}

.additembtn {
	background-color: rgb(87, 223, 171);
}

.clearbtn {
	background-color: #d63031;
}

.bottomBar {
	position: fixed;
	top: 3%;
	right: 3%;
}

/* Add Modal */

.addModalOverlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: black;
	opacity: 0.69;
}
.addModalContainer {
	position: fixed;
	margin: auto;
	width: 400px;
	/* height: 200px; */
	max-width: 85vw;
	padding: 1.5rem;
	background-color: white;
	color: rgb(121, 124, 143);
}
.addModalTitle button {
	text-decoration: none;
	outline: none;
	border: none;
	background: none;
	color: #d63031;
	font-size: 1.5rem;
	font-weight: 700;

	&:hover {
		opacity: 0.69;
	}
}
.addModalInput {
	margin-top: 2rem;

	input,
	button {
		height: 32px;
	}

	input {
		background: none;
		outline: none;
		border: 1px solid rgb(121, 124, 143);
		padding: 6px;
		color: rgb(121, 124, 143);
	}
}

button:hover {
	opacity: 0.69;
}
